//Null style scss ================================================================================================================================================================================================
@import "../../reset.scss/reset.scss";

//Підключення шрифту ========================================================================================================================================================================
//&display=swap - добавити для Імпорту шрифта
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,600,700,800,900&display=swap");

//Базові змінні ========================================================================================================================================================================
//color, family змінні
$bs-color: #1EE1B3;
$bs-title: 'Montserrat', sans-serif;
$bs-text: 'Inter', sans-serif;

//Базові стилі для верстки ========================================================================================================================================================================
.wrapper{min-height: 100%; overflow: hidden; display: flex; flex-direction: column; font-family: $bs-title; font-size: .9375rem; background-color: #08080C; color: #fff;}
.container { margin: 0 auto; max-width: 1390px; height: 100%; padding:0 15px;}
.none{display: none}
.main{flex: 1 1 auto}

//Базові стилі для Body ========================================================================================================================================================================
body{
    background-color: #08080C;
    .lock & {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
}
body.lock {
    overflow: hidden;
}
//Основні ========================================================================================================================================================================
//Header ========================================================================================================================================================================
//header__top ==============================================================================================================================================================================
.header {
    background: url("../img/header__background.png") center center  no-repeat;
    background-size: cover;
    height: 100vh;
    // .header__body
    &__body {
        white-space: nowrap;
    }
    // .header__container
    &__container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
        gap: 20px;
    }
    &__top{
        background: #08080C;
        opacity: 0.9;
        position: fixed ;
        z-index: 999999;
        width: 100%;
    }
    // .header__list
    &__list {
        display: flex;
        gap: 75px;
        align-items: center;
    }
    &__item{
        position: relative;
        &::before{
            content: "|";
            position: absolute;
            right: -40px;
            top: -10px; 
            font-size: 30px;
            font-weight: 100;
        }
        &:last-child::before{
            content: "";
        }
    }
    // .header__link
    &__link {
        font-weight: 500;
        font-size: 15.5px;
        position: relative;
        line-height: 14px;
        text-align: right;
        transition: 0.5s;
        &:hover{
            color:$bs-color;
        }
        &::after{
            content: "";
            position: absolute;
            width: 0;
            left: 50%;
            height: 2px;
            bottom: -5.5px;
            background-color: $bs-color;
            transition: 0.5s;
        }
        &:hover::after{    
            width: 100%;
            left: 0;
        }
    }
    // .header__user
    &__user {
        display: flex;
        width: 290px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    // .header__switch
    &__switch {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 32px;
    }
    // .header__switch-input
    &__switch-input {
        height: 0;
        width: 0;
        opacity: 0;
    }
    &__switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #91b6ff;
        border-radius: 25px;
        transition: 0.3s;
        &::before{
            content: "";
            position: absolute;
            cursor: pointer;
            left: 4px;
            bottom: 3px;
            height: 26px;
            width: 26px;
            background: url("../img/moon.png") no-repeat center center;
            background-color: #262932;
            background-size: 10px;
            border-radius: 50%;
            transition: 0.3s;
        }
    }
    // .header__log
    &__log {
        display: flex;
        gap: 30px;
        align-items: center;

    }
    // .header__login
    &__login {
        font-size: 15px;
        position: relative;
        transition: 0.3s;
        z-index: 3;
        padding: 5px 5px;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
            height: 0;
            width: 100%;
            background-color: #71a3f94e;
            border-radius: 0px 0px 5px 5px;
            transition: 0.5s;
        }
        &:hover::before{
            height: 100%;
        }
        &:hover{
            color:#fff;
        }
    }
    // .header__signup
    &__signup {
        background: #1EE1B3;
        border-radius: 3px;
        padding: 14px 22px;
        color: #000;
        font-weight:600;
        margin-right: 10px;
        transition: 0.5s;
        &:hover{
            background-color:#1EB2E1 ;
            color:#fff;
            transform: scale(1.05);
        }
    }
}
//switch animation =================================================================================================================================================
.header__switch-input:focus + .header__switch-slider{
    box-shadow: 0 0 1px #fff;
}
.header__switch-input:checked + .header__switch-slider{
    background-color: #f0ff7d;
}
.header__switch-input:checked + .header__switch-slider::before{
    transform: translateX(26px);
    background: url("../img/sun.png") no-repeat center center;
    background-color: #262932;
}
//menu burger =================================================================================================================================================
.header__burger{
    width: 33px;
    display: none;
    height: 30px;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    &::before,
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: 0.5s;
    }
    span{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 50%;
        transition: 0.5s;

    }
    &::before{
        top: 4px;
    }
    &::after{
        bottom: 1px;
    }
}
.header__burger.active span{
    opacity: 0;
}
.header__burger.active::before{
    transform: rotate(44deg);
    top: 50%;
}
.header__burger.active::after{
    transform: rotate(-44deg);
    top: 50%;
}
.header {
    // .header__links
    &__links {
        display: flex;
        align-self: flex-start;
        position: relative;
        top: 100px;
        padding: 0 10px;
        gap: 50px;
    }
    // .header__box-link
    &__box-link {
        padding: 5px;
        transition: 0.5s;
        &:hover{
            background-color: #e11e1e;
            border-radius: 50%;
        }
    }
}

//Adaptive header__top =================================================================================================================================================
@media (max-width: 580px) {
    .wrapper .header{
        .header__links{
            top: 150px;
            justify-content: space-evenly;
            width: 100%;
            .header__box-link img{
                width: 22px;
                height: 22px;
            }
            .header__box{
                width: max-content;
            }
        }
    }
    .header{
        .header__body {
            .header__switch {
                position: absolute;
                right: 5%;
                top: 130%;
            }
            .header__user{
                justify-content: flex-end;
            }
        }
    }
}
@media (max-width: 760px) {
    .header{
        .header__links{
            top: 150px;
        }
    }
}
@media (max-width: 920px) {
    .header{
        .header__burger{
            display: block;
            position: relative;
            z-index: 5;
        }
        .header__container{
            padding: 10px;
            padding-left: 0;
        }
        .header__top{
        .header__nav{
            position: absolute;
            left: -999px;
            transition: 0.5s;
        }
        .header__signup{
            font-size: 13px;
            padding: 8px 15px;
        }
        .header__log{
            gap: 20px;
        }
        .header__user{
            width: 270px;
        }
      }
      .header__top.active .header__container{
        backdrop-filter: blur(30px);
        
      }
      .header__top.active .header__nav{
        left: 0;
        position: absolute;
        top: 0%;
        padding-top: 90px;
        padding-bottom: 20px;
        z-index: 4;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        backdrop-filter: blur(10px);
        overflow: auto;
        .header__list{
            flex-direction: column;
            gap: 30px;
        }
        .header__item::before{
            content: "";
        }
        .header__link{
            display: inline-block;
            font-size: 25px;
            border:2px solid #fff;
            width: 80vw;
            padding: 20px;
            text-align: center;
            &:hover{
                background-color: #1ee1b336;
            }
        }
      }
    }
}
// header__main =================================================================================================================================================
.header {
    // .header__main
    &__main {
        height: 100%;
    }
    // .header__box
    &__box {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center; 
        text-align: end;
        width: 100%;
    }
    // .header__sabtext
    &__sabtext {
        font-weight: 700;
        font-size: calc(8px + 8 * (100vw/1390));
        line-height: 100%;
        color:$bs-color;
        padding-right: 10px;
    }
    // .header__title
    &__title {
        font-weight: 700;
        font-size: calc(68px + 68 * (100vw/1390));
        line-height: 110%;
        font-family: $bs-title;
    }
    // .header__line
    &__line {
        width: 70px;
        height: 3px;
        background-color: $bs-color;
        display: flex;
        margin: 0 10px;
        align-self: flex-end;
        margin-bottom: 20px;
    }
    // .header__text
    &__text {
        font-weight: 400;
        font-size:calc(7px + 6 * (100vw/1390));
        line-height: 100%;
        text-align: right;
        max-width: 470px;
        line-height: 120%;
        display: flex;
        place-self: flex-end;
        padding: 0 10px;
    }
    // .header__send
    &__send {
        display: flex;
        gap: 20px;
        align-self: flex-end;
        margin: 50px 10px;
    }
    // .header__input
    &__input {
        font-weight: 700;
        font-size: calc(7px + 7 * (100vw/1390));
        line-height: 100%;
        color: #6C6C6C;
        text-align: center;
        background-color: transparent;
        border: 2px solid #000000;
        border-radius: 3px;
        padding: 18px 56px;
    }
    // .header__button
    &__button {
        background-color: #000;
        font-weight: 700;
        font-size: calc(7px + 7 * (100vw/1390));
        line-height: 100%;
        padding: 18px 38px;
        color:#fff;
        border-radius: 3px;
        border: 1px solid #000;
        transition: .3s ease-in-out;
        &:hover{
            background-color: $bs-color;
            border: 1px solid $bs-color;
            color:#000;
        }
        &:active{
            transform: scale(0.9);
        }
    }
}
//Adaptive header__main =================================================================================================================================================
@media (max-width:760px) {
    .header{
        .header__box{
            .header__text{
                font-size:calc(7px + 6 * (100vw/1090));
            }
            .header__title{
                font-size: calc(67px + 4.8920863309vw);
            }
            .header__send{
                margin: 10px;
                .header__input{
                    padding: 15px 35px;
                    width: 100%;
                    color: #000;
                    &::placeholder{
                        color: #000;
                    }
                }
                .header__button{
                    padding: 15px 25px;
                }
            }
        }
    }
}
//main =================================================================================================================================================
//section company =================================================================================================================================================
.company {
    overflow: hidden;
    // .company__body
    &__body {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 80px 0px;
        gap: 40px;
    }
    // .company__img
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            transition: 0.6s;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
@media (max-width:760px){
    .company {
        .company__body {
            padding: 40px 0;
            gap: 30px;
        }
    }
}
//section introduction =================================================================================================================================================
.introduction {
    position: relative;
    padding: 80px 0;
    // .introduction__body
    &__body {
        display: flex;
        gap: 35px;
        justify-content: space-between;
    }
    // .introduction__box
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 740px;
        gap: 60px;
    }
    // .introduction__title
    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        color:$bs-color;
    }
    // .introduction__line
    &__line, .line {
        border: 3px solid #515151;
        border-radius:3px;
        width: 20%;
        height: 3px;
        position: relative;
        margin-top:11px;
        span{
            display: inline-block;
            position: absolute;
            top: -2.5px;
            left: -2px;
            border: 3px solid $bs-color;
            width: 70%;
            border-radius:3px;
        }
    }
    // .introduction__text
    &__text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-weight: 400;
        font-size: 15px;
        line-height: 125.5%;
    }
    // .introduction__link
    &__link {
        display: inline;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #08080C;
        background-color: #fff;
        border: 1px solid #fff;
        padding: 18px 41px;
        width: max-content;
        transition: 0.5s;
        &:hover{
            background-color:$bs-color;
            border: 1px solid $bs-color;
            transform: scale(1.03);
        }
        &:active{
            transform: scale(0.9);
        }
    }
    .cube{
        width: 170px;
        height: 150px;
        position: absolute;
        top: 5%;
        left: 65%;
        background-color: $bs-color;
    }
    // .introduction__container
    &__container {
        position: relative;
        flex: 0 0 50%;
    }
    // .introduction__wrapper
    &__wrapper {
        text-align: end;
        
    }
    // .introduction__slide
    &__slide {
        position: relative;
    }
    // .introduction__img
    &__img {
        text-align: center;
        position: relative;
        img{
            cursor: pointer;
            // max-width: 100%;
        }
    }
}
.introduction {
    // .introduction__hover
    &__hover {
        position: absolute;
        z-index: 10000;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        padding: 32px 50px;
        background: #08080C;
        opacity: 0.85;
        bottom: -999px;
        transition: 0.5s;
    }
    // .introduction__hover-title
    &__hover-title {
        font-weight: 700;
        font-size: 20px;
        color: #1EE1B3;

    }
    // .introduction__hover-text
    &__hover-text {
        font-size: 15px;
        line-height: 120%;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
    }
}
.introduction__img:hover .introduction__hover{
    bottom: 0;
}
//swiper slider =================================================================================================================================================
.swiper-button-next::after,
.swiper-button-prev::after {
    background-color: #454242;
    font-size: 20px;
    color:#fff;
    padding: 8px 14px;
    align-items: center;
    position: absolute;
    top: -554.5%;
    opacity: 1;
    gap: 0;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 19.5%;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: 25.5%;
    left: 62.7%;
}
//Adaptive section introduction =================================================================================================================================================
@media (max-width:340px){
    .wrapper .introduction{
        .container .introduction__body{
            .swiper-button-next::after,
            .swiper-button-prev::after {
                top: -354.5%;
            }
            .cube{
                width: 130px;
                height: 100px;
                top: 3%;
            }
        }
    }
}
@media (max-width:450px){
    .wrapper .introduction{
        .introduction__body{
            .introduction__hover{
                bottom: 0;
            }
        }
    }
}
@media (max-width:480px){
    .wrapper .introduction{
        .introduction__body{
            .introduction__wrapper{
                text-align: center;
            }
            .swiper-button-next, .swiper-rtl .swiper-button-prev{
                right: 10%;
            }
            .swiper-button-prev, .swiper-rtl .swiper-button-next {
                left: 60%;
            }
            .swiper-button-next::after,
            .swiper-button-prev::after {
                top: -404.5%;
        }
            img{
                width: 100%;
            }
            .cube{
                top: 3%;
                left: 25%;
            }
            .introduction__line{
                width: 30%;
                span{
                    width: 70%;
                }
            }
        }
    }
}
@media (max-width:970px){
    .introduction{
        padding: 60px 0 10px 0;
        .introduction__body{
            flex-direction: column-reverse;
            .introduction__hover-text{
                text-align: center;
                max-width: 400px;
                margin: 0 auto;
            }
            .introduction__container{
                flex: 0 0 100%;
                margin-right: 0;
                margin-left: 0;
            }
            .introduction__title{
                font-size: 29px;
            }
            .introduction__text{
                font-size: 13px;
            }
            .introduction__box{
                gap: 40px;
            }
            .cube{
                top: 1%;
                left: 30%;
            }
            .introduction__wrapper{
                text-align: center;
            }
            .swiper-button-next, .swiper-rtl .swiper-button-prev{
                right: 28%;
            }
            .swiper-button-prev, .swiper-rtl .swiper-button-next {
                left: 57%;
            }
        }
    }
}
//Section everything =================================================================================================================================================
.everything {
    // .everything__body
    padding: 80px 0 0 0;
    &__body {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 15px;
        gap: 30px;
    }
    // .everything__img
    &__img {
        position: relative;
        z-index: 1;
        &::before{
            content: "";
            position: absolute;
            z-index: 0;
            width: 500px;
            top: 20%;
            left: -3%;
            height: 450px;
            border: 2px solid $bs-color;
            transform: rotate(50deg);
        }
        img{
            position: relative;
        }
    }
    // .everything__content
    &__content {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 60px;
        padding-bottom: 50px;
    }
    // .everything__title
    &__title {
        font-weight: 700;
        font-size: calc(25px + 25 * (100vw/1390));
        line-height: 110%;
    }
    // .everything__line
    &__line {
        border: 3px solid #515151;
        border-radius:3px;
        width: 30%;
        height: 3px;
        position: relative;
        margin-top:11px;
        span{
            display: inline-block;
            position: absolute;
            top: -2.5px;
            left: -2px;
            border: 3px solid $bs-color;
            width: 70%;
            border-radius:3px;
        }
    }
    // .everything__boxes
    &__boxes {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        max-width: 655px;

    }
    // .everything__box
    &__box {
        display: flex;
        gap: 50px;
        align-items: center;
    }
    // .everything__box-img
    &__box-img {
        background-color: #fff;
        border-radius: 50%;
        padding: 10px;
        align-self: baseline;
        img{
            width: 100%;
        }
    }
    // .everything__box-texts
    &__box-texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    // .everything__box-title
    &__box-title {
        font-weight: 700;
        font-size: calc(10px + 9 * (100vw/1390));
        line-height: 110%;
    }
    // .everything__box-text
    &__box-text {
        max-width: 480px;
        font-weight: 400;
        font-size: calc(8px + 7 * (100vw/1390));
    }
}
//Adaptive Section everything =================================================================================================================================================
@media (max-width:420px){
    .wrapper .everything{
        .everything__body{
            .everything__img{
                &::before{
                    width: 250px;
                    top: 20%;
                    left: 10%;
                    height: 250px;
                }
            }
        }
    }
}
@media (max-width:620px){
    .everything{
        .everything__body{
            .everything__img{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    padding: 0 70px;
                }
                &::before{
                    width: 400px;
                    top: 20%;
                    left: 10%;
                    height: 400px;
                }
            }
        }
    }
}
@media (max-width:850px){
    .everything{
        padding: 40px 0 0 0;
        .everything__body{
            flex-direction: column-reverse;
            align-items: center;
            padding: 0;
            .everything__line{
                width: 40%;
                span{
                    top: -2.4px;
                }
            }
            .everything__content{
                gap: 60px;
                padding-bottom: 20px;
            }
            .everything__box{
                gap: 20px;
            }
            .everything__boxes{
                gap: 40px;
                .everything__box-text{
                    font-size: calc(8px + 7 * (100vw/1090));
                }
                .everything__box-title{
                    font-size: calc(11px + 10 * (100vw/1390));
                }
            }
        }
    }
}
//Section player =================================================================================================================================================
.player {
    background-color: #0C0C11;
    padding: 85px 0 120px 0;
    position: relative;
    z-index: 1;
    // .player__body
    &__body {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 10px;
        align-items: center;
    }
    // .player__title
    &__title {
        font-weight: 600;
        font-size: calc(18px + 18 * (100vw/1390));
        text-align: center;
        line-height: 120%;
        max-width: 1100px;
    }
    // .player__line
    &__line {
        width: 130px;
        height: 3px;
        background-color: $bs-color;
    }
    // .player__button
    &__button {
        border: 2px solid #fff;
        padding: 22px 25px;
        cursor: pointer;
        transition: 0.5s;
        button{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 0 9px 16px;
            border-color: transparent transparent transparent #fff;
            background-color: #0C0C11;
            border-radius: 3px;
            text-align: center;
            transform: translate(50% -50%);
            transition: 0.5s;
        }
        &:hover{
            border: 2px solid $bs-color;
            button{
                border-color: transparent transparent transparent $bs-color;
                transform: scale(1.2);
            }
        }
        &:active{
            transform: scale(0.9);
            border-radius:10px;
        }
    }
}
//Adaptive Section player =================================================================================================================================================
@media (max-width:760px){
    .player {
        padding: 55px 0 70px 0;
        // .player__body
        &__body {
            gap: 35px;
        }
        // .player__title
        &__title {
            line-height: 115%;
        }
        // .player__button
        &__button {
            padding: 17px 20px;
            button{
                border-width: 8px 0 8px 14px;
            }
        }
    }
}
//Section player popup =================================================================================================================================================
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000b1;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index:99999999;
    transition: 0.7s;
    overflow: auto;
    overflow-x: hidden;
    // .popup__body
    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    // .popup__content
    &__content {
        background-color: #08080C;
        max-width: 800px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        transition: 0.6s;
        opacity: 0;
        transform: scale(0);
        transform:rotate(45deg) ;
    }
    .line{
        width: 150px;
        height: 3px;
        background-color: $bs-color;
        border-radius: 3px;
    }
    // .popup__close
    &__close {
        width: 30px;
        height: 30px;
        position: relative;
        display: block;
        align-self: flex-end;
        cursor: pointer;
        top: 15px;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            transform: rotate(45deg);
            background-color: #fff;
        }
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            transform: rotate(-45deg);
            background-color: #fff;
        }
    }
    // .popup__title
    &__title {
        font-size: calc(20px + 20 * (100vw/1390));
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    // .popup__box
    &__box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 20px;
        margin: 0 10px;
    }
    // .popup__text
    &__text {
        font-size: calc(8px + 8 * (100vw/1390));
        max-width: 700px;
        line-height: 120%;
        list-style-type:square;
    }
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content{
    transform: scale(1);
    transform:rotate(0deg);
    opacity: 1;

}
.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
//Adaptive Section player popup =================================================================================================================================================
@media (max-width:620px){
    .popup {
        // .popup__body
        &__body {
            padding: 20px 10px;
        }
        // .popup__content
        &__content {
            padding: 25px 10px;
            gap: 25px;
        }
        // .popup__title
        &__title {
            gap: 15px;
            margin-top: -10px;
        }
        // .popup__box
        &__box {
            gap: 20px;
            padding-bottom: 20px;
            margin: 0 10px;
        }
    }

}
//Section users =================================================================================================================================================
.users {
    padding: 120px 0 85px 0;
    // .users__container
    &__container {
        margin: 0 auto;
        max-width: 1100px;
        height: 100%; 
        padding:0 15px;
    }
    // .users__body
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
    // .users__title
    &__title {
        font-weight: 600;
        font-size:calc(17px + 17 * (100vw/1390));
        text-align: center;
    }
    // .users__line
    &__line {
        width: 70px;
        height: 3px;
        background-color: $bs-color;
        margin: 0 auto;
        margin-top: 18px;
    }
    // .users__block
    &__block {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    // .users__box
    &__box {
        display: flex;
        flex-direction: column;
        flex:0 0 30%;
        padding: 29px;
        background-color: #0C0C11;
        gap: 25px;
    }
    // .users__box-title
    &__box-title {
        font-weight: 800;
        font-size: 20px;
        position: relative;
        max-width: fit-content;
        &::after{
            content: "";
            position: absolute;
            height: 60%;
            right: -20px;
            width: 2.5px;
            background-color: #1EB2E1;
            transform: rotate(-40deg);
            border-radius: 5px;
        }
        &::before{
            content: "";
            position: absolute;
            height: 60%;
            right: -20px;

            width: 2.5px;
            background-color: #1EB2E1;
            transform: rotate(40deg);
            bottom: 0;
            border-radius: 5px;

        }
        &:hover{
            text-decoration: underline;
        }
    }
    // .users__box-text
    &__box-text {
        font-weight: 400;
        font-size: 17px calc(8.5px + 8 * (100vw/1390));
        line-height: 130%;
    }
    // .users__link
    &__link {
        padding: 21px 35px;
        background-color: #fff;
        color:#000;
        font-weight: 700;
        font-size: 15px;
        border-radius: 5px;
        transition: 0.5s;
        &:hover{
            background-color: $bs-color;
            transform: scale(1.03);
        }
    }
}
//Adaptive Section users =================================================================================================================================================
@media (max-width:545px){
    .wrapper .users {
        .users__body{
            .users__box {
                flex:0 0 90%;
                padding: 20px;
                gap: 25px;
            }
            .users__block {
                flex-wrap: wrap;
                gap: 20px;
                box-sizing: border-box;
                justify-content: center;
            }
            .users__box-title {
                &::after{
                    height: 58%;
                    right: -20px;
                }
                &::before{
                    height: 58%;
                    right: -20px;  
                }
            }
        }
    }
}
@media (max-width:800px){
    .users {
        .users__body{
            .users__box {
                flex:0 0 48%;
                padding: 20px;
                gap: 25px;
            }
            .users__block {
                flex-wrap: wrap;
                gap: 20px;
                box-sizing: border-box;
                justify-content: center;
            }
            .users__box-title {
                &::after{
                    height: 58%;
                    right: -20px;
                }
                &::before{
                    height: 58%;
                    right: -20px;  
                }
            }
        }
    }
}
//Section clothing =================================================================================================================================================
.clothing {
    padding: 80px 0 0px 0;
    // .clothing__body
    .container{
        background: #0C0C11;
        height: max-content;
    }
    &__body {
        display: flex;
        max-width: 1360px;
        margin: 0 auto;
        justify-content: space-between;
        background: #0C0C11;
        position: relative;
    }
    // .clothing__content
    &__content {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        max-width: 700px;
        position: static;
        z-index: 10;
        gap: 60px;
        padding: 100px 15px 15px 100px;
        pointer-events: none;
    }
    // .clothing__title
    &__title {
        font-weight: 700;
        font-size: calc(20px + 20 * (100vw/1390));
        pointer-events: none;
    }
    // .clothing__line
    &__line {
        border: 3px solid #515151;
        border-radius:3px;
        width: 30%;
        height: 3px;
        position: relative;
        margin-top:21px;
        pointer-events: none;
        span{
            display: inline-block;
            position: absolute;
            top: -2.2px;
            left: -2px;
            border: 3px solid $bs-color;
            width: 70%;
            border-radius:3px;
        }
    }
    // .clothing__text
    &__text {
        font-weight: 400;
        font-size: calc(7px + 8 * (100vw/1390));
        line-height: 125%;
        color:#ffd4d4;
        pointer-events: none;
    }
    // .clothing__link
    &__link {
        display: inline-block;
        font-weight: 700;
        font-size: calc(7px + 7 * (100vw/1390));
        line-height: 14px;
        padding: 18px 56px 18px 23px;
        background-color: #fff;
        color: #000;
        max-width: max-content;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        transition: 0.4s;
        pointer-events: all;
        &::after{
            content: "";
            position: absolute;
            height: 25%;
            right: 30px;
            width: 2.5px;
            background-color: #1EB2E1;
            transform: rotate(-40deg);
            border-radius: 5px;
            top: 14.5px;
        }
        &::before{
            content: "";
            position: absolute;
            height: 25%;
            right: 30px;
            width: 2.5px;
            background-color: #1EB2E1;
            transform: rotate(40deg);
            bottom: 14.5px;
            border-radius: 5px;
        }
        &:hover{
            background-color: #000;
            color:#fff;
        }
    }
    // .clothing__container
    &__container {
        position: relative;
        top: -130px;
        // margin: 0px 0px 0px 750px;
    }
    // .clothing__slide
    &__slide {
        display: flex;
        justify-content: flex-end;
    }
}
//Adaptive Section clothing =================================================================================================================================================
@media (max-width:890px) {
.wrapper .clothing{
    padding: 140px 0 0px 0;
    .container{
        padding:0 15px 0 0;
        .clothing__body {
                .clothing__container {
                    margin: 0px 0px 0px 0px;
                }
                .clothing__content{
                    z-index: 10;
                    gap: 45px;
                    padding: 20% 15px 0px 20px;
                }
            }
        }
    }
}
@media (max-width:1050px) {
    .wrapper .clothing{
        .container{
            .clothing__body {
                    .clothing__container {
                        margin: 0px 0px 0px 0px;
                    }
                    .clothing__content{
                        position: absolute;
                    }
                }
            }
        }
    }
//Slider Section clothing =================================================================================================================================================
.clothing .swiper-button-next::after,
.clothing .swiper-button-prev::after {
    top: -700%;
    background-color: transparent;
    left: 450%;
    padding: 0;

}
.clothing__container .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 25.5%;

}
.clothing__container .swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: 45.5%;
    left: 62.7%;
}
.clothing__container .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0.1;
}
//Adaptive Slider Section clothing =================================================================================================================================================
@media (max-width:440px) {
    .clothing__container .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: 36.5%;
    
    }
    .clothing__container .swiper-button-prev, .swiper-rtl .swiper-button-next {
        right: 65.5%;
        left: 42.7%;
    }
}